
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-tv:before { content: '\e804'; } /* '' */
.icon-mobile-1:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-key:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-arrows-ccw:before { content: '\e809'; } /* '' */
.icon-mobile:before { content: '\f034'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */